@model IEnumerable<Application>

@{
    ViewData["Title"] = "Applications Review Page";
    Application Selected = null;
}

<div class="">
    <div class="row">
        <!--This will contain the whole side bar-->
        <div class="col-4 gap-2">
            @{
                string[] statuses = {"Pending", "Processing", "Processsed"};

                foreach (string status in statuses)
                {
                    <div>
                        <button type="button" class="btn bg-notice-me dropdown-toggle" data-bs-toggle="collapse" data-bs-target="@($"#{status}Application")" aria-controls="@($"{status}Application")">
                            @status
                        </button>

                        <div class="collapse" id="@($"{status}Application")">

                            @{
                                int Applications = 0;
                            }

                            @foreach (var application in Model)
                            {
                                if (application.Status == null || application.Status.ToLower() != status.ToLower())
                                    continue;

                                var applicant = RESTfulClient.Instance.GET<User>($"Users/{application.Id}");
                                string info = $"{applicant.Surname} {applicant.Name}\t";

                                Applications++;

                                <button class="btn btn-outline-secondary" id="@($"Application{application.ApplicationId}")">
                                    @info <strong class="alert-dark">@application.Module</strong>
                                </button>
                            }

                            @if(Applications == 0)
                            {
                                <span class="">
                                    There Are No @status Applications.
                                </span>
                            }

                        </div>
                    </div>
                }
            }
        </div>

        <!-- This will have the detailed application -->
        <div class="col-8">
            @{
                if(Selected != null)
                {
                    User applicant = RESTfulClient.Instance.GET<User>($"Users/{Selected.Id}");

                    <div>
                        <span>@($"Email Address: {applicant.StudentNum}@student.uj.ac.za")</span>
                        <span>@($"Student Number: {applicant.StudentNum}")</span>
                        <span>@($"Title: {applicant.StudentNum}")</span>
                        <span>@($"Surname: {applicant.Surname}")</span>
                        <span>@($"First Name: {applicant.Name}")</span>
                    </div>

                    <div>
                        <span>@($"First Name: {applicant.Name}")</span>
                                    
                        <div class="modal fade" tabindex="-1" id="AcademicRecord">
                            <div class="modal-dialog">
                                <div class="modal-content">
 
                                    <div class="modal-header bg-notice-me">
                                        <span>Academic Record</span>
                                        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <div class="modal-body">

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-outline-secondary">Download</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <span class="align-self-center alert-heading">No Application Is Selected</span>
                }
            }
        </div>
    </div>
</div>